<MicroModal @show={{this.show}} as |modal|>
  <modal.container as |container|>
    <container.header>
      <h2 class="modal__title">
        Micromodal
      </h2>
      <button type="button" class="modal__close" aria-label="Close modal" data-micromodal-close></button>
    </container.header>
    <container.content>
      <p>
        Try hitting the
        <code>
          tab
        </code>
        key and notice how the focus stays within the modal itself. Also,
        <code>
          esc
        </code>
        to close modal.
      </p>
    </container.content>
    <container.footer>
      <button type="button" class="modal__btn modal__btn-primary">
        Continue
      </button>
      <button type="button" class="modal__btn" aria-label="Close this dialog window" data-micromodal-close>
        Close
      </button>
    </container.footer>
  </modal.container>
</MicroModal>
<button type="button" {{on 'click' this.showModal}}>
  Show
</button>